.popup {
    position: fixed;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}