.popup {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 100%;
    background: #00000080;
}