.submit-button__text{
font-size: 18px;
line-height: 22px;
font-style: normal;
font-weight: 400;
text-align: center;
margin-top: 14px;
margin-bottom: 14px;
color: #FFFFFF;
} 

@media screen and (max-width: 510px){
.submit-button__text{
font-size: 14px;
line-height: 17px;
margin-bottom: 13px;
margin-top: 10px;
}
}