.profile {
    width: calc(100%*880/1024);
    max-width: 880px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 39.25px;
}

@media screen and (max-width: 320px) {
    .profile {
        width: calc(100%*282/320);
        max-width: 320px;
        flex-direction: column;
        margin-bottom: 36px;
        margin-top: 42.25px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile {
        flex-direction: column;
    }
}