.profile {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 120px auto 150px;
    max-width: 880px;
    margin: 0px auto;
    padding-bottom: 51px;
    padding-top: 40px;
    box-sizing: border-box;
    justify-items: flex-start;
    align-items: center;
    gap: 0px 30px;
}

@media screen and (max-width: 899px) {
    .profile {
        max-width: 581px;
    }
}

@media screen and (max-width: 614px) {
    .profile {
        max-width: 282px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 36px;
    }
}