.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 918px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 619px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin-bottom: 30px;
    }
}