.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 321px) and (max-width: 510px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
    }
}