.profile__add-button {
    width: 150px;
    height: 50px;
    justify-self: end;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__add-button{
        width: 282px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile__add-button{
        width: 584px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 584px) {
    .profile__add-button{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}