.popup-form__inputs {
    font-family: inherit;
    outline: none;
    width: 358px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 18px;
    padding: 0px;
}

@media screen and (max-width: 899px) {
    .popup-form__inputs {
        max-width: 306px;
    }
}

@media screen and (max-width: 614px) {
    .popup-form__inputs {
        margin-bottom: 15px;
        max-width: 282px;
    }
}