.profile__text {
    display: grid;
    grid-template-columns: auto 24px;
    grid-template-rows: 39px 18px;
    grid-template-areas: 'name edit-button' 'information information';
    justify-content: start;
    gap: 16px 18px;
    align-items: start;
}

@media screen and (max-width: 614px) {
    .profile__text {
        padding-bottom: 36px;
        box-sizing: border-box;
        grid-template-columns: auto 18px;
        grid-template-rows: fit-content(26px) auto;
        align-items: center;
        justify-items: center;
        gap: 14px 10px;
    }
}