.element__garbage-button {
    background: no-repeat url('../../../images/element-garbage-button.svg');
    width: 18px;
    height: 19.3px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 18px;
    right: 15px;
}

.element__garbage-button:hover {
    opacity: 0.6;
}