.popup-form {
    font-family: inherit;
    outline: none;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 899px) {
    .popup-form {
        max-width: 350px;
    }
}

@media screen and (max-width: 614px) {
    .popup-form {
        max-width: 282px;
    }
}