.popup__close-button {
    color: #FFFFFF;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url(../../../images/close-icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 614px) {
    .popup__close-button {
        height: 26px;
        width: 26px;
        right: 0px;
    }
}