.profile__add-photo-button {
    color: #FFFFFF;
    justify-self: flex-end;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    padding: 14px 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    cursor: pointer;
    background-position: center;
    background-color: transparent;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
}

.profile__add-photo-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 614px) {
    .profile__add-photo-button {
        width: 282px;
        height: 50px;
        padding: 17px 133px;
        font-size: 16px;
    }
}