.element__like-button {
    background: no-repeat url('../../../images/element-like-button.svg') transparent;
    width: 22px;
    height: 19px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.element__like-button:hover {
    opacity: 0.5;
}

.element__like-button:active {
    background: no-repeat url('../../../images/element-like-button-active.svg');
}