.profile__info {
    display: grid;
    grid-template-columns: minmax(300px, auto) 25px;
    align-items: center;
    margin-right: auto;
    flex-wrap: wrap;
    min-width: 336px;
}

@media screen and (max-width: 619px) {
    .profile__info {
        max-width: 282px;
        min-width: 0;
        margin: 0 auto;
        display: flex;
        align-items: baseline;
    }
}