.profile__photo {
    border-radius: 100%;
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
}

@media screen and (max-width: 614px) {
    .profile__photo {
        margin-bottom: 26px;
        box-sizing: border-box;
    }
}