.popup-form__input {
    font-family: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-right: none;
    border-left: none;
    width: 358px;
    outline: none;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-bottom: 13px;
}

.popup-form__input:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.popup-form__input::placeholder {
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup-form__input::-webkit-input-placeholder {
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup-form__input::-moz-placeholder {
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    opacity: 0.9;
}

.popup-form__input::-ms-input-placeholder {
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 899px) {
    .popup-form__input {
        width: 306px;
    }
}

@media screen and (max-width: 614px) {
    .popup-form__input {
        width: 238px;
    }
}